.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; 
}

.join-form {
  width: 488px;
  height: 527px; 
  padding: 40px;
  background: #FFFFFF;
}

.join-form h2 {
  color: #81c784;
  text-align: center;
  margin-bottom: 24px;
  font-size: 64px;
}

.join-label { 
  color: #adc8af; 
  margin-bottom: 8px; 
  font-weight: bold; 
  font-size: 20px;
}

.join-input1 {
  width: 488px;
  height: 57px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #adc8af;
  border-radius: 10px;
  font-size: 20px;
}

.join-input2 {
  width: 318px;
  height: 57px;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #adc8af;
  border-radius: 10px;
  font-size: 20px;
}

.join-input::placeholder {
  color: #e7e7e7; 
  font-weight: bold;
  font-size: 20px;
}

.join-button {
  width: 100%;
  padding: 15px;
  background-color: #81c784; /* 주 색상 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* 버튼 상단 여백 추가 */
}

.checkbutton { /* 중복 확인 버튼 스타일 */
  width: 100%;
  padding: 15px;
  margin-top: 10px; /* 여백 조정 */
  background-color: #adc8af; /* 버튼 색상 */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}