.join-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff;
}

.join-form {
  width: 488px;
  height: 527px;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-sizing: border-box;
}

.join-form h2 {
  color: #81c784;
  text-align: center;
  margin-bottom: 24px;
  font-size: 64px;
}

.join-label { 
  display: block; 
  color: #adc8af; 
  margin-bottom: 8px; 
  font-weight: bold; 
  font-size: 20px;
}

.id-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 488px;
  margin-bottom: 20px;
}

.join-input1, .join-input2, .join-button, .checkbutton {
  height: 57px;
  padding: 15px;
  border: 1px solid #adc8af;
  border-radius: 10px;
  font-size: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.join-input1 {
  width: 318px;
  margin-right: 8px;
}

.join-input2 {
  width: 488px;
  margin-right: 8px;
}

.join-input1::placeholder, .join-input2::placeholder {
  color: #e7e7e7; 
  font-weight: bold;
  font-size: 20px;
}

.checkbutton {
  width: 158px; 
  background-color: #81c784;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.join-button {
  width: 488px;
  margin-top: 20px;
  background-color: #81c784;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

