.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; 
}

.login-form {
  width: 488px;
  padding: 40px;
  background: #FFFFFF;
  box-sizing: border-box; /* 박스 사이징 방법 변경 */
}

.login-form h2 {
  color: #81c784;
  text-align: center;
  margin-bottom: 24px;
  font-size: 64px;
}

.login-label {
  color: #adc8af; 
  margin: 2px; 
  padding: 2px;
  font-weight: bold; 
  font-size: 20px;
}

.login-input,
.login-button {
  width: 488px; /* 너비 고정 */
  height: 57px; /* 높이 고정 */
  margin-bottom: 20px;
  border: 1px solid #adc8af;
  border-radius: 10px;
  box-sizing: border-box; /* 박스 사이징 방법 변경 */
}

.login-input::placeholder {
  color: #e7e7e7; 
  font-size: 20px;
  font-weight: bold;
}

.login-button {
  padding: 15px;
  background-color: #81c784; /* 주 색상 */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.link-container a,
.link-container p {
  color: #b0b0b0;
  text-decoration: none;
}
